<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">


    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-fluid m-0 p-0">
        <a class="navbar-brand font-italic" href="{% url 'home' %}" data-toggle="tooltip" title="Hooray!">
            <img src="../static/blogs/images/cc.png" class="img-thumbnail" alt="" style="width:40px;height:30px;"> CoDerZcoLuMn
        </a>

        <form class="form-inline" action="" method="post">
            <input class="form-control" type="text" placeholder="Search">&nbsp;
            <button class="btn btn-success" type="submit">Go</button>
        </form>
        <ul class="navbar-nav">
            <li class="navbar-nav">
                <a class="text-danger nav nav-link" href="{% url 'about:about' %}">About</a>
            </li>
            <li class="navbar-nav">
                <a class="text-success nav nav-link" href="">ResearchPapers</a>
            </li>
            <li class="nav-item dropdown">
                <a class="text-primary nav-link dropdown-toggle" href="{% url 'blogs:blogs_home' %}" id="navbardrop" data-toggle="dropdown" title="Hooray!">
                Blogs
                </a>
                <div class="dropdown-menu bg-dark">
                    <a class="dropdown-item text-primary" href="#" data-toggle="tooltip" title="Hooray!">SEO</a>
                    <a class="dropdown-item text-primary" href="#" data-toggle="tooltip" title="Hooray!">Android</a>
                    <a class="dropdown-item text-primary" href="#" data-toggle="tooltip" title="Hooray!">Machine Learning</a>
                    <a class="dropdown-item text-primary" href="#" data-toggle="tooltip" title="Hooray!">Python</a>
                    <a class="dropdown-item text-primary" href="#" data-toggle="tooltip" title="Hooray!">Data Science</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="text-warning nav-link dropdown-toggle" href="{% url 'tutorials:tutorials_home' %}" id="navbardrop1" data-toggle="dropdown" title="Hooray!">
                Tutorials
                </a>
                <div class="dropdown-menu bg-dark">
                    <a class="dropdown-item text-warning" href="#" data-toggle="tooltip" title="Hooray!">SEO</a>
                    <a class="dropdown-item text-warning" href="#" data-toggle="tooltip" title="Hooray!">Android</a>
                    <a class="dropdown-item text-warning" href="#" data-toggle="tooltip" title="Hooray!">Machine Learning</a>
                    <a class="dropdown-item text-warning" href="#" data-toggle="tooltip" title="Hooray!">Python</a>
                    <a class="dropdown-item text-warning" href="#" data-toggle="tooltip" title="Hooray!">Data Science</a>
                </div>
            </li>
            <li class="">
                <a class="nav-link" href="{% url 'login' %}" data-toggle="tooltip" title="Hooray!">Login | Register</a>
            </li>
        </ul>
    </div>
</nav>

{% block body %}
{% endblock %}

<nav class="navbar bg-dark navbar-dark fixed-bottom">
    <div class="container-fluid m-0 p-0">
      <div class="row m-0 p-0">
        <div class="col-sm-4 m-0 p-0">
          <h6 class="text-white pb-1 m-0">CoDerZColuMn</h6>
          <p class="text-white p-0 m-0"><small>CoderzColumn publishes Blogs, Tutorials and Research Papers explanation on various topics like
              SEO, Android, Python, Data Science, Machine Learning.</small></p>
        </div>
        <div class="col-sm-2 m-0 p-0">
          <h6 class="text-white m-0 pb-1">Products</h6>
          <ui class="nav flex-column m-0 p-0">
              <li class="navbar-nav nav-item"><a href="#!" class="nav-link p-0 m-0"><small>ResearchPapers</small></a></li>
              <li class="navbar-nav nav-item"><a href="#!" class="nav-link p-0 m-0"><small>Blogs</small></a></li>
              <li class="navbar-nav nav-item"><a href="#!" class="nav-link p-0 m-0"><small>Tutorials</small></a></li>
          </ui>
        </div>
        <div class="col-sm-2 m-0 p-0">
          <h6 class="text-white m-0 pb-1">Useful links</h6>
          <ui class="nav flex-column m-0 p-0">
              <li class="navbar-nav nav-item"><a href="#!" class="nav-link p-0 m-0"><small>Profile</small></a></li>
              <li class="navbar-nav nav-item"><a href="#!" class="nav-link p-0 m-0"><small>Become a Patron</small></a></li>
              <li class="navbar-nav nav-item"><a href="#!" class="nav-link p-0 m-0"><small>Shipping Rates</small></a></li>
          </ui>
        </div>
        <div class="col-sm-2 m-0 p-0">
          <h6 class="text-white m-0 pb-1">Contact</h6>
            <ui class="nav flex-column text-white m-0 p-0">
                <li class="navbar-nav nav-item"><i class="fa fa-home p-0 m-0"><small>Gujarat, India</small></i></li>
                <li class="navbar-nav nav-item"><i class="fa fa-envelope p-0 m-0"><small>info@coderzcolumn.com</small></i></li>
              <!--<li class="navbar-nav nav-item"><i class="fa fa-phone"></i>+ 01 234 567 88</li>
              <li class="navbar-nav nav-item"><i class="fa fa-print"></i>+ 01 234 567 89</li>-->
          </ui>
        </div>
        <div class="navbar-nav text-white col-md-2">
          <ui>
              <li class="m-0 p-0">© 2018 Copyright:
                  <a href="https://coderzcolumn.com/" class=" text-white nav-link  p-0 m-0"><small>coderzcolumn.com</small></a></li>
          </ui>
        </div>
      </div>
    </div>

</nav>
</body>
</html>